.navigation {
  position: fixed;
  opacity: 0;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(46, 91, 109, 0.85);
  transition: opacity 0.3s ease, left 0.3s ease;
}

.navigation__links {
  margin-top: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navigation__link {
  color: #f4e1b0;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
}

.navigation__link:hover {
  opacity: 0.8;
}

.navigation_active {
  opacity: 1;
  left: 0;
}


